<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

 <p>
    Splurty was built by <a target="_blank" href="http://github.com/wesamkiwan">Wesam Kiwan. </a> A web developer who is new to ruby programming language.
  </p>
  <br />
  <p>
    this application is one of firehose project training projects and was built by co-opperation with refugees on rails project in hamburg. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://wesamkiwan.getforge.io/"> here</a>.
  </p

</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'wesam.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">wesam kiwan</h2>
    <br />
    <p>
      wesam kiwan is a metallorgical engineer and a chemist and now he is learning web development using ruby on rails
    </p>
  </div>
  <br class="clear" />
  
<br />
<br />
<br />
<br />