<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
     <div class="col-xs-3">
        logo
     </div>
     <div class="col-xs-4">
        first ruby app in refugees on rails program
     </div>
     <div class="col-xs-5">
        <% link_to 'contribute','#' %> 
        <% link_to 'about','#' %>   
     </div>
  </header>
  <br class="clear" />
    <%= yield %>
  </body>
</html>
